{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App using Django</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body class='bg-dark text-light'>
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-dark card-outline-primary">
                <div class="card-body">
                    <h2>Successfully Logged Out</h2>
                    <p>You have been successfully logged out.</p>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Login Again</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
